body {
  margin: 0;
  padding:20px 55px;
  font-family: "Roboto",sans-serif;
  color: #163152;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color:#163152;
}

.main-nav {
  display: flex;
  width: 1280px;
  align-items: center;
  margin-bottom: 40px;
  }

.logo {
  margin-right: auto;
}

.navigation-list {
  display: flex;
  gap:30px;
  list-style: none;
  margin-right: 40px;
  text-transform:uppercase ;
}

.hero {
  width: 1170px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.hero h1 {
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  font-style: italic;
}

.blog-article-1 {
 display: flex;
 width: 1030px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 100px;
 gap:30px;
}

.blog-article-1 h2 {
  text-decoration:underline;
  text-decoration-color:#00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  }

.blog-info {
  width: 400px;
}

.date-time {
  font-size:14px;
  line-height:18px;
  text-transform:uppercase
}

.blog-article-2 {
  display: flex;
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  gap:30px;
  margin-bottom: 120px;
}

.blog-article-2 h2 {
  text-decoration:underline;
  text-decoration-color:#00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.news {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.news h2 {
  text-align: center;
  text-decoration:underline;
  text-decoration-color:#00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin-bottom: 55px;
}

.photo-sign {
  font-size:14px;
  line-height:18px;
  margin-bottom: 33px;
  color: #8693A4;
}
.news span {
    text-decoration: line-through;
}

.article-author-info {
  display: flex;
  align-items: center;

}

.author-info {
  margin-right: auto;
}

.contacts {
  width: 1010px;
  margin-bottom: 120px;
  display: flex;
}

.contacts h2 {
  text-decoration:underline;
  text-decoration-color:#00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.socials {
  list-style: none;
  display: flex;
  gap:10px;
}

.socials img {
  border: 1px solid #00C6BD;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  
  
}